<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>DashBoard</title>
</head>

<body class="bg-dark">
    <div id="alert-notif" style="position: absolute; height: 50px; overflow: hidden; margin-left: auto; margin-right: auto; top: 0; left: 0; right: 0; text-align: center;"></div>
    <div id="dash-content" class="text-white" style="width: 80%; height: 100%; margin: auto; margin-top: 70px;">
        <div class="row justify-content-center" style="">
            <div name="left-wrapper" class="col-md-3" style="">
                <div id="top-left" name="top-left" style="">
                    <hr class="text-white">
                    <div class="" style="text-align: center;">
                        <div class="">
                            <div class="" style="align-items: center; justify-content: center; margin: 8px auto;">
                                <h4 id="date-label" class="text-white-50">Current Date</h4>
                                <h4 id="date-text" class="text-white-50">--:--:--</h4>
                            </div>
                        </div>
                        <div style="height: 10px"></div>
                        <div class="">
                            <div class="" style="align-items: center; justify-content: center; margin: 8px auto;">
                                <h4 id="time-label" class="text-white-50">Current Time</h4>
                                <h4 id="time-text" class="text-white-50">--:--:--</h4>
                            </div>
                        </div>
                        <hr class="text-white">
                    </div>
                </div>

                <div style="height: 30px"></div>

                <div name="bottom-left">
                    <div class="form-shadow p-4 bg-black bg-opacity-25 border-dark rounded-top-1 rounded-bottom-3">
                        <div id="profile">
                            <hr style="width: 80%; margin: 15px auto;">
                            <div class="" style="text-align: center;">
                                <div class="">
                                    <div class="" style="align-items: center; justify-content: center; margin: 8px auto;">
                                        <h4 id="user_label" class="text-white-50">User:</h4>
                                        <input id="username" type="text" class="h5 text-center text-white-50 form-control" value="Anonymous">
                                    </div>
                                </div>
                            </div>
    
                            <hr style="width: 80%; margin: 15px auto;">
    
                            <div style="height: 15px"></div>
    
                            <div name="bottom-wrapper" class="" style="">
                                <div class="row p" style="width: 70%; margin: auto;">
                                    <button onclick="update_client_setting();" type="button" class="btn btn-block btn-md border border-2 border-black border-opacity-10 bg-black bg-opacity-50 text-white">
                                        Edit
                                    </button>
                                </div>
    
                                <div style="height: 40px"></div>
    
                                <div>
                                    <!-- <div class="row md-3">
                                        <label class="col-sm-5 col-form-label">
                                            Time Zone:
                                        </label>
                                        <div class="col">
                                            <input id="timeZone" type="text" class="form-control text-white text-center" value="America/New_Yorks">
                                        </div>
                                    </div>
                                    <div style="height: 10px;"></div> -->
                                    <div class="row md-3">
                                        <label class="col-sm-8 col-form-label">
                                            Prefered Temperature:
                                        </label>
                                        <div class="col">
                                            <input id="fav_temp" type="number" class="form-control text-white" value="24">
                                        </div>
                                    </div>
                                    <div style="height: 10px;"></div>
                                    <div class="row md-3">
                                        <label class="col-sm-8 col-form-label">
                                            Prefered Humid:
                                        </label>
                                        <div class="col">
                                            <input id="fav_humid" type="number" class="form-control text-white" value="40">
                                        </div>
                                    </div>
                                    <div style="height: 10px;"></div>
                                    <div class="row md-3">
                                        <label class="col-sm-8 col-form-label">
                                            Prefered Light Intensity:
                                        </label>
                                        <div class="col">
                                            <input id="fav_lightInt" type="number" class="form-control text-white" value="400">
                                        </div>
                                    </div>
                                    <div style="height: 30px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-1' style="height: 30px; width: 20px;"></div>
            <div name="right-wrapper" class="col-md-8">
                <div name="top-right">
                    <div class="row row-cols-auto justify-content-center">
                        <div class="col-sm temp-div form-shadow p-4 bg-black bg-opacity-25 border-dark rounded-top-1 rounded-bottom-3">
                            <div class="row">
                                <div class="col-7">
                                    <h3 class="">Temperature</h3>
                                    <h4 id="temp-text" class="text-white-50">0</h4>
                                </div>
                                <div class="col text-center">
                                    <img id="temp-icon" class="" src="../static/imgs/thermo.png">
                                </div>
                            </div>
                        </div>
            
                        <div class="col"></div>
            
                        <div class="col-sm form-shadow bg-black p-4 bg-opacity-25 border-dark rounded-top-1 rounded-bottom-3">
                            <div class="row">
                                <div class="col-7">
                                    <h3 class="">Humidity</h3>
                                    <h4 id="humid-text" class="text-white-50">0</h4>
                                </div>
                                <div class="col text-center">
                                    <img id="humid-icon" class="" src="../static/imgs/humid.png">
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div style= "height: 28px"></div>
                    <div class="row row-cols-auto justify-content-center">
                        <div class="col-sm form-shadow bg-black p-4 bg-opacity-25 border-dark rounded-top-1 rounded-bottom-3">
                            <div class="row">
                                <div class="col-7">
                                    <h3 class="">Light Intensity</h3>
                                    <h4 id="lightInt-text" class="text-white-50">0</h4>
                                </div>
                                <div class="col text-center">
                                    <img id="lightInt-icon" class="" src="../static/imgs/lightInt.png">
                                </div>
                            </div>
                        </div>
                
                        <div class="col"></div>
                        
                        <div class="col-sm form-shadow bg-black p-4 bg-opacity-25 border-dark rounded-top-1 rounded-bottom-3">
                            <div class="row">
                                <div class="col-7">
                                    <h3 class="">Bluetooth</h3>
                                    <h4 id="lightInt-text" class="text-white-50">0</h4>
                                </div>
                                <div class="col text-center">
                                    <img id="lightInt-icon" src="../static/imgs/bluetooth.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 40px"></div>
                <div name="bottom-right">
                    <div class="row row-cols-auto justify-content-center">
                        <div class="col-lg-12 off light-div p-4 bg-black bg-opacity-25 border-dark rounded-top-1 rounded-bottom-3">
                            <div class="row">
                                <div class="col-7">
                                    <h3 class="">Light Control</h3>
                                    <p class="text-white-50">Control the light</p>
                                    <div class="mx-auto">
                                        <button id="light-btn" type="button"
                                            class="btn btn-block btn-lg border border-2 border-black border-opacity-10 bg-black bg-opacity-50 text-white"
                                            onclick="toggleMode('light'); isManual('light');">Turn On</button>
                                    </div>
                                </div>
                                <div class="col text-center">
                                    <img id="light-icon" class="icon-shadow-off" src="../static/imgs/light.png">
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="height: 30px"></div>
                        <div class="col-lg-12 off motor-div p-4 bg-black bg-opacity-25 border-dark rounded-top-1 rounded-bottom-3">
                            <div class="row">
                                <div class="col-md-7">
                                    <h3 class="">Fan Control</h3>
                                    <p class="text-white-50">Control the Fan</p>
                                    <div class="mx-auto">
                                        <button id="motor-btn" type="button"
                                            class="btn btn-block btn-lg border border-2 border-black border-opacity-10 bg-black bg-opacity-50 text-white"
                                            onclick="toggleMode('motor'); isManual('motor');">Turn On</button>
                                    </div>
                                </div>
                                <div class="col text-center">
                                    <img id="fan-icon" class="icon-shadow-off" src="../static/imgs/fan.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/scripts/script.js"></script>
</body>

</html>