.form-shadow {
    box-shadow: 0px 0px 10px 3px #000000ea, 0px 0px 20px 5px #000000cc;
    transition: box-shadow 0.2s ease-in-out;
}

.on  {
    box-shadow: 0px 0px 10px 3px #e7f6ffbe, 0px 0px 8px 6px #77dbff;
    transition: box-shadow 0.3s ease-in-out;
}

.off {
    box-shadow: 0px 0px 10px 4px #000000ea, 0px 0px 15px 3px #000000cc;
    transition: box-shadow 0.2s ease-in-out;
}

.icon-shadow-on {
    filter: saturate(500%) contrast(800%) brightness(500%) 
    invert(80%) sepia(50%) hue-rotate(140deg) drop-shadow(0px 0px 7px #77dbff);

    transition: filter 0.3s ease-in-out;
}

.icon-shadow-off {
    transition: filter 0.2s ease-in-out;
}

.hot-temp-shadow {
    box-shadow: 0px 0px 10px 3px #ff9f9fe1, 0px 0px 8px 6px #ff583b;
    transition: box-shadow 0.3s ease-in-out;
}

.icon-indicator-filter {
    filter: saturate(500%) contrast(800%) brightness(500%) 
    invert(80%) sepia(50%) hue-rotate(0deg) 
    drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8))
}

.p-4 {
    width: 100%;
    min-width: 150px;
}

.container .p-4 {
    margin-top: 28px;
}

#dash-content .container {
    margin-top: 5px;
}

.p-4 div h3{
    font-size:  max(100%, min(8vw, 1.65em));
}

img {
    width: auto;
    height: 100%;
}

.rotate {
    animation: rotation 1.7s infinite linear;
}

.alert-custom {
    /* font-size: max(2vw); */
    font-size: min(5vw, 1.1em);
    background-color:#6089D5;
    color:#fff; 
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

